/* lists */
.outliner-plugin-bls .cm-s-obsidian .HyperMD-list-line {
  padding-top: 0.4em;
}

/* bullets */
.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list {
  letter-spacing: 3px;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul {
  color: var(--background-primary) !important;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
  content: "•";
  position: absolute;
  margin-left: -3px;
  margin-top: -5px;
  font-size: 24px;
  color: var(--text-muted);
  visibility: visible !important;
}

/* lines */
.outliner-plugin-bls .cm-hmd-list-indent .cm-tab {
  position: relative;
}

.outliner-plugin-bls .cm-hmd-list-indent .cm-tab::before {
  content: "";
  border-left: 1px solid var(--text-faint);
  position: absolute;
  left: 3px;
  top: -9px;
  bottom: -9999px;
}

.outliner-plugin-bls .cm-s-obsidian .CodeMirror-line {
  position: relative;
  overflow: hidden;
}
